@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --pcolor: #2D2C2C; /* Example primary color (blue) */
    --scolor: #BF9766; /* Example secondary color (green) */
    --acolor: #F3EDE6; /* Example accent color (red) */
    --bgcolor: #f5f5f5; /* Example background color */
  }
  